<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="pragma" content="no-cache">
<meta http-equiv="cache-control" content="no-cache">
<meta name="ROBOTS" content="noindex,nofollow">
    <title>
        OutputSample
    </title>
<link href="video-js/video-js.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="draw.js"></script>
<script type="text/javascript" src="msgtext.js"></script>
<script type="text/javascript" src="timeline.js"></script>
<script type="text/javascript" src="config.js"></script>
<script type="text/javascript" src="contents.js"></script>
<script type="text/javascript" src="indexout.js"></script>
<script type="text/javascript" src="video-js/video.dev.js"></script>
<script type="text/javascript" src="APIWrapper.js"></script>
<script type="text/javascript" src="SCOFunctions.js"></script>
<Script type="text/javascript">
<!--
 if(fScorm) {
  loadPage();
 }
-->
</script>
<script type="text/javascript">
    videojs.options.flash.swf = "video-js/video-js.swf";

    if (vFastbutton == 0) {
        document.writeln('<style type="text/css">');
        document.writeln('.vjs-default-skin .vjs-progress-control {');
        document.writeln('    display: none;');
        document.writeln('}');
        document.writeln('</style>');
    }
</script>

</head>

<body>

<div id="titlearea" style='position: absolute;'>
</div>

<div id="logoarea" style='position: absolute;'>
    <img alt="ロゴ" id="logopic" src="logo.gif" />
</div>

<div id="slidearea" style='position: absolute;'>
    <iframe id="sframe" src= "slide.html" frameborder=0 scrolling=no></iframe>
</div>

<div id="drawarea" style='position: absolute; overflow: hidden;'>
    <canvas id="can1" style='position: absolute;'></canvas>
    <canvas id="can2" style='position: absolute;'></canvas>
</div>


<div id="videoarea" class="player_rtmp" style='background-color: #000000; position: absolute;'>

<script type="text/javascript">
    if (bStreaming) {
        var browstr = brow();
        if (browstr == "ipad" || browstr == "iphone" || browstr == "safari") {
            document.writeln('<video id=\"video\" controls preload=\"metadata\" class=\"video-js vjs-default-skin\" data-setup=\"{}\">');
        } else if (browstr == "Android") {
            document.writeln('<video id=\"video\" controls preload=\"metadata\" class=\"video-js vjs-default-skin\" data-setup=\"{}\">');
        } else {
            document.writeln("<video id=\"video\" class=\"video-js vjs-default-skin\" controls preload=\"metadata\" data-setup='{ \"techOrder\": [\"flash\"] }'>");
            document.writeln('<source type=\"rtmp/mp4\" src=\"' + url + '\">');
        }
    } else {
        document.writeln('<video id=\"video\" controls preload=\"none\" class=\"video-js vjs-default-skin\" data-setup=\"{}\">');
        document.writeln('<source src=\"movie/movie.mp4\" type=\"video/mp4\" />');
    }
</script>

        <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
    </video>
</div>

<div id="indexarea" style='position: absolute;'>
    <script type="text/javascript">
        indexstyle();
        indexwrite();
    </script>
</div>

<div id="demoarea" style='background-color: #000000; position: absolute; display: none;'>
    <video id="demo" controls autoplay preload="none" class="video-js vjs-default-skin" data-setup="{}">

        <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
    </video>
</div>

<div id="adarea" style='position: absolute; display: none;'>
    <img alt="adviser" id="adpic" src="_advisor.jpg"/>
</div>

<script type="text/javascript" src="drawfunc.js"></script>
<script type="text/javascript" src="layout.js"></script>
<script type="text/javascript" src="player.js"></script>
<script type="text/javascript" src="mark.js"></script>
<script type="text/javascript">
    //オープン時にページを構築
    ChangeLayout(layoutNo);
    ChangeTab('tab1');
    ChangeLayout(layoutNo);

    if (bStreaming) {
        var browstr = brow();
        if (browstr == "ipad" || browstr == "iphone" || browstr == "safari") {
            v.src(surl);
        } else if (browstr == "Android") {
            v.src(surl);
        }
    }

    arView(arid);
</script>
</body>
</html>